body{
font-family: arial,sans-serif;
background:linear-gradient(to right,blue,aqua);
display:flex;
justify-content :center ;
align-items: center;
height:100hv;

}
.container{

    background-color: antiquewhite;
    padding: 30px;;
    border-radius: 15px;
    box-shadow: 0px,0px,15px,rgba(0,0,0,0.3);
    width:320px;
    text-align: center;
}
h2{
    margin-bottom: 20px;
    color: black
}
input[type="text"],input[type="password"],input[type="number"],input[type="email"]{

    width:90%;
    padding:10px;
    margin:8px 0;
    border:1px solid white;
    border-radius: 5px;
}
button{
      background-color: lightblue;
      color:white;
      padding:10px,20px;
      border:none;
      border-radius: 5px;
      cursor:pointer;
      width:95%;
      margin-top: 10px;

}
button:hover{
    background-color: aqua;
}
p{
    margin-top: 15px;
}
a{
    color:lightseagreen;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.logincss{
    display:block;
}
.signupcss{
    display:none;
}